---
layout: default
---

<div class="home">

  <h3>Notes:</h3>
  <ul>
 <li><a href="MAS439Bridgeland.pdf">Original Notes by Tom Bridgeland</a></li>
  </ul>

 The class will follow these notes closely, but I will not lecture directly from them.  I may edit them lightly as we go this term, so if please point out any confusing parts, minor typos, etc.  

<h3>Most recent problem set:</h3>
<ul>
{% assign problems = site.problemsets | reverse %}
{% for set in problems limit:1 %}
<li>
<a href="{{ set.url | prepend:site.baseurl }}"> {{ set.title }}</a>  Due {{ set.duedate }}
</li>
{% endfor %} 
</ul>

<h3> Recent Bulletins: </h3>
<ul>
{% assign bulletinlist = site.bulletins | reverse %}
{% for bulletin in bulletinlist limit:2 %}
<li>
<a href="{{ bulletin.url | prepend:site.baseurl }}"> {{ bulletin.title }}</a>  
</li>
{% endfor %} 
</ul>



</div>
